.button {
  background: #004e9d;
  color: white;
  padding: 1rem 5rem;
  font-family: var(--font-jost);
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.button2 {
  background: linear-gradient(
    91.23deg,
    #fce2ba 21.19%,
    #fce2ba 64.52%,
    #ffdaa4 97.21%
  );
  color: #8c6831;
  padding: 1rem 5rem;
  font-family: var(--font-jost);
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}


.button3 {
  background: #004e9d;
  color: white;
  padding: 1rem 5rem;
  font-family: var(--font-jost);
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
