.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 158px);
  min-height: calc(800px - 158px);
  object-fit: cover;
  display: flex;
}

.container img {
  object-fit: cover;
  z-index: -1;
}

.h1 {
  font-size: 3rem !important ;
  font-style: italic;
  font-weight: 400;
  line-height: 3.8rem;
  text-align: center;
  color: #004e9d;
  font-family: var(--font-libre);
}

.leftContanier {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.helper {
  max-width: 484px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.rightContanier {
  width: 50%;
  height: 100%;
}

.p {
  font-family: var(--font-jost);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #222222b2;
}

.buttonContainer {
  display: flex;
  gap: 2rem;
}
