/* TOPNAV*/
.container {
  height: 3.8rem;
  background: linear-gradient(
    91.23deg,
    #fce2ba 21.19%,
    #fff4e3 42.48%,
    #fce2ba 64.52%,
    #ffdaa4 97.21%
  );
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--pGlobal);
}

.containerItems {
  width: auto;
  display: flex;
  gap: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-fs-topNav);
}

@media screen and (max-width: 600px) {
  .containerItems {
   justify-content: space-between;
   width: 100%;
  }
}

.contatctContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}



.socialHelper {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 600px) {
  .socialHelper {
    gap: 2rem;
  }
}


.contatctContainer img {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 600px) {
  .contatctContainer img {
    width: 2rem;
    height: 2rem;
  }
}


/* NAV*/
.navContainer {
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  padding: var(--pGlobal);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1160px) {
  .logo {
    width: 210px;
  }
}

.ul {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.ul li {
  list-style: none;
  padding: 1.2rem;
  cursor: pointer;
  color: #222222;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
}

@media screen and (max-width: 1160px) {
  .rightContainer {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 1100px) {
  .rightContainer {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: white;
    height: 100dvh;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navContainer {
    height:90px;

  }

  .mobileMenuOpen {
    display: flex;
  }

  .ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .ul li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
  }

  .ul li:last-child {
    border-bottom: none;
  }
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .hamburgerMenu {
    display: block;
  }
}

.active {
  font-weight: 600;
  color: #004e9d;
  text-decoration: underline;
}

.button {
  background: #004e9d;
  color: white;
  padding: 1.2rem 5rem;
  font-family: var(--font-jost);
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
}




@media screen and (max-width: 600px) {
  .socialText {
    display: none;
  }
}
