.sections {
  padding: 6rem 5vw;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60.3rem;
  max-width: var(--maxWidth);
  background-color: white;
  margin-inline: auto;
  border: 1px solid transparent;
  border-image: linear-gradient(
      162.8deg,
      rgba(36, 144, 232, 0.2) -4.69%,
      rgba(19, 114, 198, 0.2) 58.82%,
      rgba(0, 78, 157, 0.2) 99.47%
    )
    1;
  padding: 4rem;
}

.textContainer,
.textContainer2 {
  width: 50%;
  height: auto;
  max-width: 43.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.textContainer2 {
  max-width: 55rem;
}

.textContainer::after {
  content: '';
  position: absolute;
  right: -4rem;
  top: 10%;
  height: 80%;
  width: 1px;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 78, 157, 0.2),
    transparent
  );
}

.titleContainer {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 4rem;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  min-height: 92px;
}

.text p {
  margin: 0;
}

.titleContainer h2 {
  font-size: var(--h2);
  color: #004e9d;
  font-style: italic;
}

.helper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.btnContainer {
  display: flex;
  gap: 2rem;
  margin-top: auto;
}

/* Laptop és nagyobb tablet */
@media screen and (max-width: 1280px) {
  .container {
    padding: 3rem;
  }

  .helper {
    gap: 6rem;
  }

  .textContainer::after {
    right: -3rem;
  }
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .sections {
    padding: 4rem 3vw;
  }

  .container {
    padding: 2rem;
    min-height: 50rem;
  }

  .helper {
    gap: 4rem;
  }

  .textContainer::after {
    right: -2rem;
  }

  .textContainer,
  .textContainer2 {
    gap: 3rem;
  }

  .titleContainer {
    gap: 3rem;
  }
}

/* Kis tablet és mobil */
@media screen and (max-width: 900px) {
  .sections {
    padding: 3rem 2vw;
  }

  .container {
    padding: 6rem 2rem;
    min-height: auto;
  }

  .helper {
    flex-direction: column;
    gap: 6rem;
  }

  .textContainer,
  .textContainer2 {
    width: 100%;
    max-width: 100%;
  }

  .textContainer::after {
    display: none;
  }

  .text {
    min-height: auto;
  }

  .btnContainer {
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    gap: 1rem;
  }
}

/* Mobil */
@media screen and (max-width: 600px) {
  .sections {
    padding: 2rem 2vw;
  }

  .container {
    padding: 3rem 5vw;
  }

  .btnContainer {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    gap: 1rem;
  }

  .helper {
    gap: 4rem;
  }

  .textContainer,
  .textContainer2 {
    gap: 2rem;
  }

  .titleContainer {
    gap: 2rem;
  }
}