.section {
  display: flex;
  justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.titleContainer {
  padding-top: 13.8rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 4rem;
}

.titleContainer h2 {
  font-size: var(--h2);
}

.container {
  width: 100%;
  max-width: 120rem;
}

.btnContainer {
    padding-top: 6rem;
    display: flex;
    justify-content: center;
}