.container {
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
    91.23deg,
    #fce2ba 21.19%,
    #fff4e3 42.48%,
    #fce2ba 64.52%,
    #ffdaa4 97.21%
  );
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    height: 3.5rem;
  }
}

.scrollText {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.textGroup {
  display: flex;
  animation: scrollLeft 140s linear infinite;
  /*Méglassabbanimáció(80s->120s)*/-webkit-animation: scrollLeft 140s linear infinite;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  -webkit-animation: scrollLeft 140s linear infinite;
}

/* Pont elemek eltávolítva */

.pDark {
  color: #8c6831 !important;
}

.p {
  font-size: 16px;
  font-weight: 400;
  line-height: 35.64px;
  color: #8c6831;
}

.p2 {
  color: #8c6831;
}

.linkText {
  cursor: pointer;
  transition: color 0.3s ease;
}

.linkText:hover {
  color: #c19351;
}

@media screen and (max-width: 768px) {
  .p {
    font-size: 16px;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}